p{
    margin: 10px 0 !important;
}


.login-container{
    width: 400px ;
    margin-top: 50px;
    text-align: center;
}
/* Add a wrapper div to encapsulate the button */
.button-wrapper {
    position: fixed;
    bottom: 20px; /* Adjust this value to control the vertical position */
    right: 20px; /* Adjust this value to control the horizontal position */
    z-index: 1000; /* Adjust the z-index to ensure it appears above other content */
}
.fa-small{
    font-size: 16px !important;
}